.IndexPageRoot
    height:100%
    .IndexPageBaseContainer
        height:100%
        .VerticalMenuItem
            color: #a1a9ae
        .asideFootIcon
            font-size 30px
            padding 10px
            color: #a1a9ae
