.tagListCompRootCls
    height: 100%
    float left
    .tagListCardCls
        margin: 10px
        .tagListCardHeaderCls
            float: right
        .tagListCardContentCls
            float: right
