*
    box-sizing: border-box
.projectActivityListCompRootCls
    height 100%
    .projectActivityListCompContainerCls
        padding 18px 18px
        margin:0 40px 40px 0
        border: 1px solid #ddd
        height:110px
        border-radius: 3px
        background-color:#ffffff
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
        .projectActivityListCompContainerMainCls
            border-top:1px dashed #e5e5e5;

